{% extends "base.html" %}
{% block content %}
<table id="serverlist" class="table table-sm table-striped table-hover" style="width:100%">
    <thead>
    <tr>
        <th>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="v62" value="2">
                <label class="form-check-label" for="v62"><span
                        class="badge badge-pill badge-secondary mb-1">0.62</span></label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="v63" value="3">
                <label class="form-check-label" for="v63"><span
                        class="badge badge-pill badge-info mb-1">0.63</span></label>
            </div>
        </th>
        <th></th>
        <th>Name</th>
        <th>Players</th>
        <th>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="day" value="d">
                <label class="form-check-label" for="day"><span class="badge badge-pill badge-light"><i
                        class="fas fa-sun"></i> Day</span></label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="night" value="n">
                <label class="form-check-label" for="night"><span class="badge badge-pill badge-dark"><i
                        class="fas fa-moon"></i> Night</span></label>
            </div>
        </th>
        <th>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="private" value="pr">
                <label class="form-check-label" for="private"><span
                        class="badge badge-pill badge-success">Private</span></label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="public" value="pu">
                <label class="form-check-label" for="public"><span
                        class="badge badge-pill badge-danger">Public</span></label>
            </div>
        </th>
        <th>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="1pp" value="1p">
                <label class="form-check-label" for="1pp"><span
                        class="badge badge-pill badge-success">1PP</span></label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="3pp" value="3p">
                <label class="form-check-label" for="3pp"><span
                        class="badge badge-pill badge-danger">3PP</span></label>
            </div>
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
</table>
<script src="{{ url_for('static', filename='js/tablestuff.js') }}"></script>
{% endblock %}